section {
  margin: 5px;
  padding: 5px;
  border: 1px solid salmon;
}
p {
  font-size: 1.5em;
  color: rgb(25, 64, 78);
  text-shadow: 2px 2px 3px rgb(85, 85, 87);
}
button {
  margin: 5px;
  background-color: orange;
  font-size: 2em;
}
