/* body 가운데 정렬 */
body {
  width: 600px;
  margin: 0 auto;
}
section {
  margin: 3px;
  padding: 5px;
  background-color: aquamarine;
}
p#result {
  font-size: 1.8em;
  color: blueviolet;
}

div#galleryZone {
  /* overflow: auto; */
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: visible; */
  border: 1px solid red;
}
#galleryZone p:first-child {
  margin: 10px;
}
#photo {
  width: 560px;
  height: 250px;
}
