@charset "utf-8";

body {
  font: 14px 맑은 고딕;
}
.container {
  position: absolute;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}

.sidebar {
  float: right;
  width: 200px;
  height: 550px;
  background-color: #dfd;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar img {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  opacity: 0.5;
  text-align: center;
}

.sidebar img:hover {
  border: 1px solid #000;
  opacity: 1;
}

.content {
  background-color: #ffffff;
  padding-top: 5px;
  padding-left: 10px;
  width: 720px;
  float: left;
}

header,
section,
footer,
aside,
article,
figure {
  display: block;
}

.banner {
  margin: 0 10px 15px 10px;
  padding: 0;
}
